<h2> {{titulo}} </h2>
<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input [formControl]="form.controls.nombre" matInput />
        <mat-error>{{obtenerErroresCampo()}}</mat-error>
        @if(form.controls.nombre.pending){
            <mat-progress-spinner matSuffix [diameter]="16" style="margin-right: 1rem;"></mat-progress-spinner>
        }
    </mat-form-field>
    <div>
        <button type="submit" [disabled]="form.invalid" mat-flat-button>Guardar cambios</button>
        <a mat-stroked-button routerLink="/productos">Cancelar</a>
    </div>
</form>
